<!--Basic google map starts-->
<div class="row">
    <div class="col-12">
        <div class="content-header">Google Map</div>
    </div>
    <div class="color-group col-md-4 col-sm-6 col-12 mb-3">
        <div class="card gradient-ibiza-sunset ">
            <div class="card-content ">
                <div class="card-body py-0 ">
                    <div class="media pb-1 ">
                        <div class="media-body white text-left ">
                            <span>POSITIVOS ESTIMADOS</span>
                            <h3 class="font-large-1 white mb-0 ">487,989</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-group col-md-4 col-sm-6 col-12 mb-3">
        <div class="card gradient-blackberry ">
            <div class="card-content ">
                <div class="card-body py-0 ">
                    <div class="media pb-1 ">
                        <div class="media-body white text-left ">
                            <span>DEFUNCIONES ESTIMADAS</span>
                            <h3 class="font-large-1 white mb-0 ">50,773</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-group col-md-4 col-sm-6 col-12 mb-3">
        <div class="card gradient-mint ">
            <div class="card-content ">
                <div class="card-body py-0 ">
                    <div class="media pb-1 ">
                        <div class="media-body white text-left ">
                            <span>ACTIVOS ESTIMADOS</span>
                            <h3 class="font-large-1 white mb-0 ">43,648</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>CONFIRMADOS</span>
                            <h3 class="mb-1 danger">443,813</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-user-plus danger font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>NEGATIVOS</span>
                            <h3 class="mb-1 info">488,207</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-user-minus info font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>SOSPECHOSOS</span>
                            <h3 class="mb-1 warning">70,030</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-user warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>DEFUNCIONES</span>
                            <h3 class="mb-1 secondary">48,012</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-user-x secondary font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>RECUPERADOS</span>
                            <h3 class="mb-1 primary">295,677</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-user-check font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <span>ACTIVOS</span>
                            <h3 class="mb-1 success">28,741</h3>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-users success font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="mapa">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">
                    <div id="controls" class="nicebox">
                        <div id="legend">
                            <div id="census-min">max</div>
                            <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
                            <div id="census-max">min</div>
                        </div>
                    </div>
                    <div id="data-box" class="nicebox">
                        <label id="data-label" for="data-value"></label>
                        <span id="data-value"></span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body mt-2">
                        <div id="map"></div>
                        <ngx-spinner></ngx-spinner>
                    </div>
                </div>
                <div *ngIf="tipoMapa" class="card-footer">
                    <button (click)="cargarMapa()" type="button" class="btn btn-primary">
                        Regresar a Nacional
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic google map ends-->